/*Your Town- CSS file */
/* Standard everything stuff */
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
    font-family: "Raleway";
}

body{
  background-image: url("../images/explore_kentucky.jpg") ;
}

h2 {
  vertical-align: center;
  text-align: center;
  
}

div {
    vertical-align: center;
    text-align: center;
    margin-top:10px;
}


/*top navigation bar*/
#page1 .topNav ul,#page2 .topNav ul,#page3 .topNav ul, #page4 .topNav ul, #page5 .topNav ul, #page6 .topNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#page1 .topNav li,#page2 .topNav li,#page3 .topNav li, #page4 .topNav li, #page5 .topNav li, #page6 .topNav li{
    float:left;
}

#page1 .topNav li.title,#page2 .topNav li.title,#page3 .topNav li.title, #page4 .topNav li.title, #page5 .topNav li.title, #page6 .topNav li.title{
    float:left;
    color: white;
    margin-right: 50px;
}

#page1 .topNav li.right,#page2 .topNav li.right,#page3 .topNav li.right, #page4 .topNav li.right, #page5 .topNav li.right, #page6 .topNav li.right{
    float: right;
}

#page1 .topNav li a,#page2 .topNav li a,#page3 .topNav li a, #page4 .topNav li a, #page5 .topNav li a, #page6 .topNav li a{
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#page1 .topNav li a:hover,#page2 .topNav li a:hover,#page3 .topNav li a:hover, #page4 .topNav li a:hover, #page5 .topNav li a:hover , #page6 .topNav li a:hover  {
  background-color: #111;
}

/*button/link handler color things*/
.active{
  background-color:darkorange;
}

.button{
    vertical-align:center;
    border:none;
    border-radius:20px;
    text-align: center;
    display: inline-block;
    margin:10px 20px;
    width: auto;
    height: 35px;
    background-color:darkgoldenrod;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
    cursor: pointer;

    &:hover{
        background-color: #555555;
        color: white;
    }
}

/*==========Features=========*/

/*hide an element-but keep its place*/
.hideMe{
     clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}

#page2 .quizModule{
    background-color:slategrey;
    margin: 0 auto;
    width: 60%;
    margin-top: 40px;
    padding: 20px;
}

#page2 .numTracker{
    padding: 10px;
}

#page2 span{
   float: right;
}

#page2 .quizNav{
    display: inline-block;
}

#page2 img.coolPhoto{
    margin:25px;
    padding:5px;
    width: 200px;
    height: 200px;
}

#page2 .modulebtn{
    border: none;
    padding: 10px;
    width: 20%;
    height: auto;
    cursor: pointer;

    &:hover{
        background:#333;
        color: white;
    }
}

#page2 .quizP p{
    padding:10px 10px 0;
}

#page2 ul#pickOne.oneFormOnly{
    display: inline-block;
    align-content: flex-start;
    margin:20px auto;
    max-width:600px;
}

#page2 li.ansLi{
    list-style: none;
    text-align: left;
    background-color: slategray;
    margin: 5px 5px;
    padding: 5px 10px;
    border: 1px solid black;
}

#page2 .ansLi label{
    padding-left: 10px;
}

#page2 ul.oneFormOnly > li:hover{
    background: aquamarine;
}


#page2 li.selected{
    list-style: none;
    background: goldenrod;
    color: darkslategrey;
}

#page2 li.correct{
    list-style: none;
    background: lightgreen;
}

#page2 li.incorrect{
    list-style: none;
    background: indianred;
}


/*============= SUMMARY PAGE CSS ============*/
#page3 #results{
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}
#page3 table{
    border-collapse: collapse;
}

#page3 table, th, td{
    border: 1px solid black;
    padding: 10px;
    vertical-align: center;
}

#page3 .wrong{
    background: indianred;
}

#page3 .right{
    background: lightgreen;
}

